td,th {
	font-family: monospace;
	padding: 4px;
	background-color: #f1f1f1;
}

label {
	vertical-align: top;
}

#main {
	padding: 6px;
}

#items_table {
	padding: 6px;
	margin-top: 12px;
}

#items_table h3 {
	font-size: 18px;
	margin-top: 0px;
	font-family: sans-serif;
}